<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">

<listeners>
    <listener class-name="Report.ExtentReporterNG"/>
</listeners>

  <test name="Test">
  
   <!--<parameter name="Browser" and value="Chrome"/>-->
   
    <classes>
    
      <class name="Test.TestAppsnGames"/>
      <!--<class name="Test.TestDevices"/>-->
      <!--<class name="Adobe1.Adobe1.AppTest"/>-->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
